body {
    font-family: "Poppins";
}

.sidebar {
    background-color: #435353;
    /* font-family: "Poppins"; */
}

.sidebar a, i, .sidebar-heading, .sidebar-divider {
    color: #f1f1f1 !important;
}

.card-header, .btn-search {
    background-color: #435353 !important;
    color:#f1f1f1;
}