body {
    font-family: "Poppins";
}

.sidebar, .bg-auth {
    /* background-color: #435353; */
    /* background: rgb(175,133,169);
    background: linear-gradient(45deg, rgba(175,133,169,1) 0%, rgba(156,134,166,1) 34%, rgba(153,145,177,1) 61%, rgba(153,156,181,1) 85%, rgba(153,171,186,1) 100%); */
    /* background: rgb(99,154,149);
    background: linear-gradient(45deg, rgba(99,154,149,1) 0%, rgba(100,150,147,1) 15%, rgba(100,149,147,1) 32%, rgba(91,129,127,1) 56%, rgba(75,110,111,1) 100%); */
    /* background: rgb(166,142,168);
    background: linear-gradient(45deg, rgba(166,142,168,1) 0%, rgba(147,127,154,1) 28%, rgba(127,111,140,1) 72%, rgba(98,93,121,1) 100%); */
    background-color: rgb(145,170,173);
    background-color: linear-gradient(45deg, rgba(145,170,173,1) 0%, rgba(123,149,154,1) 46%, rgba(100,127,134,1) 100%);
    /* font-family: "Poppins"; */
}

.sidebar a, i, .sidebar-heading, .sidebar-divider {
    color: #ffffff !important;
}

.card-header, .btn-search {
    background-color: #91aaad !important;
    color:#ffffff !important;
}

.card, table {
    border-radius: 20px !important;
}

.card-header {
    border-radius: 20px 20px 0 0 !important;
}

.btn-success {
    background-color: #A6C3A1;
    border: 0;
    padding: 10px 15px 10px 15px;
}

.btn-success:hover, .btn-fail:hover, .btn-netral:hover, .btn-search:hover {
    background-color: #363636 !important;
    color: #ffffff;
}

.btn-netral {
    background-color: #A1A9C3;
    color:#ffffff;
    border: 0;
    padding: 10px 15px 10px 15px;
}

.btn-fail {
    background-color: #C3A1A1;
    color:#ffffff !important;
    border: 0;
    padding: 10px 15px 10px 15px;
}

.btn-search {
    background-color: #91aaad;
    color:#ffffff;
    border: 0;
    padding: 10px 15px 10px 15px;
}
